# Server
PORT=5000
NODE_ENV=development

# Database
DATABASE_URL="mysql://root:password@localhost:3306/lunar_saas_db"

# JWT
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRES_IN=7d

# File Upload
UPLOAD_PATH=uploads
MAX_FILE_SIZE=5242880

# Google OAuth
GOOGLE_CLIENT_ID=588080102542-89vp88loitkaan4n6qm6cm4g7ahfa4df.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback
FRONTEND_URL=http://localhost:5173

#SMTP Setup
SMTP_HOST=your_host
SMTP_PORT=587
SMTP_USER=your_user
SMTP_PASS=your_password
SMTP_FROM_NAME="Lunar SaaS"